.git
.github
node_modules
vendor
public/build
public/hot
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
database/database.sqlite
.env
.env.*
.phpunit.result.cache
tests
README.md
frankenphp
